.oe-translation-tooltip {
  position: relative;
  display: inline-block;
}

.oe-translation-tooltip .oe-translation-tooltip--text {
  visibility: hidden;
  background-color: #f5f5f2;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 100000;
  left: 0;
  bottom: 105%;
  min-width: 200px;
  max-width: 500px;
  border: 1px solid #bfbfba;
}

.oe-translation-tooltip:hover .oe-translation-tooltip--text {
  visibility: visible;
}

.oe-translation-tooltip .oe-translation-tooltip--text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 30px;
  border-width: 5px;
  border-style: solid;
  border-color: #bfbfba transparent transparent transparent;
}
