default:
  suites:
    default:
      paths:
        - %paths.base%/tests/features
      contexts:
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\Tests\oe_translation\Behat\CleanupContext
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\Tests\oe_translation\Behat\LocalTranslationContext
        - Drupal\Tests\oe_translation\Behat\PoetryTranslationContext
        - OpenEuropa\Behat\TransformationContext:
            pages:
              content administration: 'en/admin/content'
  extensions:
    Drupal\MinkExtension:
      goutte: ~
      selenium2: ~
      ajax_timeout: 10
      javascript_session: selenium2
      base_url: "${drupal.base_url}"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "build"
      region_map:
        title: ".page-title"
        node content: ".node--view-mode-full"
      selectors:
        error_message_selector: '.messages.messages--error'
  formatters:
    progress: ~
