includes:
  - ./vendor/openeuropa/code-review-drupal/dist/phpstan.drupal.neon
parameters:
  parallel:
      maximumNumberOfProcesses: 2
  excludePaths:
    # Exclude the following file from analysis as RawDrupalContext is not
    # present.
    - tests/src/Traits/TranslationsTestTrait.php
    # Exclude PHPUnit extension as contains classes that might not be present
    # depending on PHPUnit version.
    - tests/src/EnsurePHPUnitBatchingTestExtension.php
    - '*.yml'
