drupal:
  root: "build"
  base_url: "http://web:8080/build"
  site:
    name: "OpenEuropa"
    profile: "minimal"
  database:
    host: "mysql"
    port: "3306"
    name: "oe_translation"
    user: "root"
    password: ""
  post_install:
    # Prepare the instance.
    - "./vendor/bin/drush en toolbar -y"
    - "./vendor/bin/drush theme:enable olivero -y"
    - "./vendor/bin/drush theme:enable claro -y"
    - "./vendor/bin/drush config-set system.theme default olivero -y"
    - "./vendor/bin/drush config-set system.theme admin claro -y"
    - "./vendor/bin/drush config-set node.settings use_admin_theme 1 -y"
    # Enable the modules.
    - "./vendor/bin/drush en oe_multilingual -y"
    - "./vendor/bin/drush en oe_multilingual_demo -y"
    - "./vendor/bin/drush en oe_translation oe_translation_local -y"
    - "./vendor/bin/drush cr"
  settings:
    settings:
      file_scan_ignore_directories:
        - "node_modules"
        - "bower_components"
        - "vendor"
        - "${drupal.root}"
      extension_discovery_scan_tests: TRUE

selenium:
  host: "http://selenium"
  port: "4444"
  browser: "chrome"

commands:
  drupal:site-setup:
    - { task: "run", command: "drupal:symlink-project" }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:phpunit" }
    - task: "append"
      file: "build/sites/default/settings.override.php"
      text: |
        $settings["epoetry.service_url"] = "${drupal.base_url}/epoetry-mock/server";
        $settings["epoetry.application_name"] = getenv('EPOETRY_APPLICATION_NAME');
        $settings["epoetry.auth.cert_service_url"] = getenv('EPOETRY_AUTH_CERT_SERVICE_URL');
        $settings["epoetry.auth.cert_path"] = getenv('EPOETRY_AUTH_CERT_PATH');
        $settings["epoetry.auth.cert_password"] = getenv('EPOETRY_AUTH_CERT_PASSWORD');
        $settings["epoetry.auth.eulogin_base_path"] = getenv('EPOETRY_AUTH_EU_LOGIN_BASEPATH');
        $settings["epoetry.ticket_validation.eulogin_base_path"] = getenv('EPOETRY_TICKET_VALIDATION_EU_LOGIN_BASEPATH');
        $settings["epoetry.ticket_validation.eulogin_job_account"] = getenv('EPOETRY_TICKET_VALIDATION_JOB_ACCOUNT');
        $settings["epoetry.ticket_validation.callback_url"] = getenv('EPOETRY_TICKET_VALIDATION_CALLBACK_URL');
        $settings["epoetry.ticket_validation.on"] = getenv('EPOETRY_TICKET_VALIDATION_ON');
        $settings["epoetry.notification.endpoint_prefix"] = getenv('EPOETRY_NOTIFICATION_ENDPOINT_PREFIX');
        $settings["cdt.token_api_endpoint"] = getenv('CDT_TOKEN_API_ENDPOINT');
        $settings["cdt.main_api_endpoint"] = getenv('CDT_MAIN_API_ENDPOINT');
        $settings["cdt.reference_data_api_endpoint"] = getenv('CDT_REFERENCE_DATA_API_ENDPOINT');
        $settings["cdt.validate_api_endpoint"] = getenv('CDT_VALIDATE_API_ENDPOINT');
        $settings["cdt.requests_api_endpoint"] = getenv('CDT_REQUESTS_API_ENDPOINT');
        $settings["cdt.identifier_api_endpoint"] = getenv('CDT_IDENTIFIER_API_ENDPOINT');
        $settings["cdt.status_api_endpoint"] = getenv('CDT_STATUS_API_ENDPOINT');
        $settings["cdt.username"] = getenv('CDT_USERNAME');
        $settings["cdt.password"] = getenv('CDT_PASSWORD');
        $settings["cdt.client"] = getenv('CDT_CLIENT');
        $settings["cdt.api_key"] = getenv('CDT_API_KEY');
    # Generate settings.testing.php, it will be used when running functional tests.
    - { task: "process-php", type: "write", config: "drupal.settings", source: "${drupal.root}/sites/default/default.settings.php", destination: "${drupal.root}/sites/default/settings.testing.php", override: true }
    - task: "append"
      file: "build/sites/default/settings.testing.php"
      text: |
        $settings["epoetry.service_url"] = "${drupal.base_url}/epoetry-mock/server";
        $settings["epoetry.application_name"] = getenv('EPOETRY_APPLICATION_NAME');
        $settings["epoetry.auth.cert_service_url"] = getenv('EPOETRY_AUTH_CERT_SERVICE_URL');
        $settings["epoetry.auth.cert_path"] = getenv('EPOETRY_AUTH_CERT_PATH');
        $settings["epoetry.auth.cert_password"] = getenv('EPOETRY_AUTH_CERT_PASSWORD');
        $settings["epoetry.auth.eulogin_base_path"] = getenv('EPOETRY_AUTH_EU_LOGIN_BASEPATH');
        $settings["epoetry.ticket_validation.eulogin_base_path"] = getenv('EPOETRY_TICKET_VALIDATION_EU_LOGIN_BASEPATH');
        $settings["epoetry.ticket_validation.eulogin_job_account"] = getenv('EPOETRY_TICKET_VALIDATION_JOB_ACCOUNT');
        $settings["epoetry.ticket_validation.callback_url"] = getenv('EPOETRY_TICKET_VALIDATION_CALLBACK_URL');
        $settings["epoetry.ticket_validation.on"] = getenv('EPOETRY_TICKET_VALIDATION_ON');
        $settings["epoetry.notification.endpoint_prefix"] = getenv('EPOETRY_NOTIFICATION_ENDPOINT_PREFIX');
        $settings["cdt.token_api_endpoint"] = getenv('CDT_TOKEN_API_ENDPOINT');
        $settings["cdt.main_api_endpoint"] = getenv('CDT_MAIN_API_ENDPOINT');
        $settings["cdt.reference_data_api_endpoint"] = getenv('CDT_REFERENCE_DATA_API_ENDPOINT');
        $settings["cdt.validate_api_endpoint"] = getenv('CDT_VALIDATE_API_ENDPOINT');
        $settings["cdt.requests_api_endpoint"] = getenv('CDT_REQUESTS_API_ENDPOINT');
        $settings["cdt.identifier_api_endpoint"] = getenv('CDT_IDENTIFIER_API_ENDPOINT');
        $settings["cdt.status_api_endpoint"] = getenv('CDT_STATUS_API_ENDPOINT');
        $settings["cdt.username"] = getenv('CDT_USERNAME');
        $settings["cdt.password"] = getenv('CDT_PASSWORD');
        $settings["cdt.client"] = getenv('CDT_CLIENT');
        $settings["cdt.api_key"] = getenv('CDT_API_KEY');
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
